.section {
  width: 100%;
  /* max-width: 1470px; */
  width: 375px;
  margin: 0 auto;
  padding: 0 15px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.button {
  margin: 50px 0 100px;
  display: block;
  width: 166px;
  height: 56px;
  text-decoration: none;
  color: #101828;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  padding: 16px 40px;
  border: 1px solid rgba(71, 84, 103, 0.2);
  background-color: transparent;
  border-radius: 200px;
  transition: border-color 0.3s ease-in-out;
}
.button:hover {
  border-color: #d84343;
}
